In [1]:
import pandas as pd

In [2]:
import requests

url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
response = requests.get(url)

with open("owid-covid-data.csv", "wb") as f:
    f.write(response.content)

In [3]:
covid_df = pd.read_csv('owid-covid-data.csv')

In [4]:
covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [65]:
#Filter the data for only United States
US_covid_df = covid_df[covid_df['location']=='United States']

In [38]:
US_covid_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
279468,USA,North America,United States,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
279469,USA,North America,United States,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
279470,USA,North America,United States,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,-2336.0,-3.72,-3.72,-6.953581
279471,USA,North America,United States,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN
279472,USA,North America,United States,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,24.6,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN

In [66]:
US_covid_df = US_covid_df.dropna(subset=["total_cases"])

In [41]:
US_covid_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [71]:
US_covid_df_q = US_covid_df.copy()
US_covid_df_q["date"] = pd.to_datetime(US_covid_df_q["date"])
US_covid_df_q = US_covid_df_q.groupby(pd.Grouper(key="date", freq='Q'))\
                            [["new_cases","new_cases_smoothed","new_cases_per_million",\
                              "new_deaths","new_deaths_smoothed","new_deaths_per_million"]].mean()
US_covid_df_q = US_covid_df_q.reset_index()
display(US_covid_df_q)

,date,new_cases,new_cases_smoothed,new_cases_per_million,new_deaths,new_deaths_smoothed,new_deaths_per_million
0,2020-03-31,2404.763889,1538.313444,7.108639,46.208333,25.271847,0.136639
1,2020-06-30,26741.428571,26039.981154,79.048879,1372.780220,1360.849286,4.058055
2,2020-09-30,50113.815217,50152.321380,148.138696,890.315217,899.428554,2.631826
3,2020-12-31,134353.271739,129908.336978,397.154261,1541.793478,1481.576043,4.557598
4,2021-03-31,116989.855556,120848.299989,345.827267,2236.066667,2291.728556,6.609944
5,2021-06-30,35160.428571,36779.503890,103.935802,523.835165,540.904231,1.548429
6,2021-09-30,105140.771739,102092.024870,310.800826,1035.130435,983.925446,3.059891
7,2021-12-31,114728.956522,106132.871109,339.143957,1335.913043,1344.720522,3.949033
8,2022-03-31,287196.233333,298754.488933,848.964922,1783.786517,1806.499213,5.272989
9,2022-06-30,76131.879121,73506.604352,225.049198,363.747253,370.029835,1.075264
10,2022-09-30,94138.326087,95996.048098,278.277120,430.739130,424.852424,1.273250
11,2022-12-31,48271.978261,46706.085435,142.694152,373.391304,371.183228,1.103793
12,2023-03-31,40687.038961,42915.864455,120.272727,422.259740,425.885000,1.248195

In [72]:
US_covid_df_q.to_csv("quarterly_covid_data.csv")