In [ ]:
!pip3 install s3fs

In [23]:
import pandas as pd
import s3fs

AWS_S3_BUCKET = "layoffs-decoded-master"
AWS_ACCESS_KEY_ID = "ASIAUHN3JA72CH2Z6H2Z"
AWS_SECRET_ACCESS_KEY = "tbYtMKp/e21B6wSyNsamoz29ZjdmV8oTteRUpT78"
AWS_SESSION_TOKEN = "IQoJb3JpZ2luX2VjEJf//////////wEaCXVzLXdlc3QtMiJIMEYCIQDKLzmsttsKmVb+bu5nW3qvFdFn2bw1Z8/MT3lMai3wwAIhAKDA2pa9dfmcv0GFFYsqIUVAbND3DOry3i1OlCP+GFfvKukCCHAQABoMMjkwODM5OTIyNjc2IgzIio3Zb7ohqDUR8hIqxgItODR2oOl+Kzr1JTExLO/qbs/BOfpYavW70MB4uM6kzDlan0gv6Bh/12RT4KfqQZGEEUBHNOqZ/dNm+0rmp6d0sHi/3iHp2emvezFUowoEWkZIie1vc1JHtcMreGd+7RnBSxePnn0P0/0RMyWuhYinnw6cM69vV72dv72e0RqlrgaLGg3zYuXPMAcIDazz0Co0x/td//V+3HiCN2KyWDNCl5gwRiyQ7VZB2+Loxt9WjpTXS6v4nnPM9WqhXiVbMJKj2ypSFXB9pMx1QEbFBz9juGTolf553W2VFcYnmjrtk8DFAuMhzOnk/ItM4tcRg5zcFUp+E99E4zc+bvfI6TZVuH+3gqsB74iNovhMhMQ264DkQkq23jHfxrt+bwHxQMqjdIRVKeBwh3hVa6huahEpazo3bgZLOWhkjABCTaM7pnyZv3CpJDCt4pShBjqmATmT/7rJ6HLZcJFy4UBYDMa0rAqxw4JlCZRR6QsnUyA+0QAqoUSQ/B1xBXkIXKP+RcIzE9PhCLrB4sY5Zc2I+uxTSzofOtF3UQQZO/qV8i2P34pvLaWRBmOpqeh2Zo00thKJy3SL419hbNeF1pceGfg/uLyY6uCFUlQUB50yUU/nOy0/OedyZJhQFKTwGA/G88IupFi1310zFrkBuv/lm3mQcfVBEjs="

In [24]:
key = "warn_jaccard_0.5_cleaned.csv"

warn_nasdaq_cleaned_df = pd.read_csv(
    f"s3://{AWS_S3_BUCKET}/{key}",
    storage_options={
        "key": AWS_ACCESS_KEY_ID,
        "secret": AWS_SECRET_ACCESS_KEY,
        "token": AWS_SESSION_TOKEN,
    },
)

warn_nasdaq_cleaned_df = warn_nasdaq_cleaned_df.drop(["id1", "joinKey1", "joinKey2", "jaccard"], axis=1)
warn_nasdaq_cleaned_df = warn_nasdaq_cleaned_df.drop_duplicates(subset=["OG-Company-Warn", "Symbol"])
warn_nasdaq_cleaned_df = warn_nasdaq_cleaned_df.set_index("OG-Company-Warn")
print(warn_nasdaq_cleaned_df['Symbol'].unique().shape)
warn_nasdaq_cleaned_df.head()

(579,)

,Symbol,OG-Company-Nasdaq
OG-Company-Warn,,
Credit Suisse Asset Management LLC (CSAM),CIK,Credit Suisse Asset Management Income Fund Inc...
"G-III Apparel Group, Ltd. (3 NYC sites)",GIII,G-III Apparel Group LTD. Common Stock
Royal Caribbean Cruises Ltd.,RCL,D/B/A Royal Caribbean Cruises Ltd. Common Stock
M&T Bank (Mid-Hudson),MTB,M&T Bank Corporation Common Stock
"Delta Air Lines, Inc-Pilot Base",DAL,Delta Air Lines Inc. Common Stock

In [25]:
warn_layoffs_df = pd.read_csv("../data/warn_1.csv", index_col='id')
warn_layoffs_df["Date"] = warn_layoffs_df["WARN Received Date"].fillna(warn_layoffs_df["Effective Date"])
warn_layoffs_df["Number of Workers"] = warn_layoffs_df["Number of Workers"].str.strip()
warn_layoffs_df["Number of Workers"] = warn_layoffs_df["Number of Workers"].str.replace(r",","", regex=False)
warn_layoffs_df = warn_layoffs_df[~warn_layoffs_df["Number of Workers"].isna()]
warn_layoffs_df = warn_layoffs_df[warn_layoffs_df["Number of Workers"] != '']
warn_layoffs_df = warn_layoffs_df.astype({'Date': 'datetime64[ns]', 'Number of Workers': 'int64'})
warn_layoffs_df = warn_layoffs_df[[
    "State", "City", "Company", "Number of Workers", "Date"
]]

warn_layoffs_df = warn_layoffs_df.drop_duplicates()

# Limit analysis to 2018 and after
warn_layoffs_df = warn_layoffs_df[warn_layoffs_df["Date"] > pd.to_datetime("2018-01-01")]
print(warn_layoffs_df.shape)
warn_layoffs_df.head()

(25906, 5)

/var/folders/4z/d6_6_sts6x7_54863gfv4_mh0000gn/T/ipykernel_66129/4041668740.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  warn_layoffs_df = pd.read_csv("../data/warn_1.csv", index_col='id')

,State,City,Company,Number of Workers,Date
id,,,,,
0,Alabama,Daleville,"Primus Solutions, LLC",132,2021-07-28
1,Alabama,Jasper,Corsicana Mattress Company,42,2021-07-26
2,Alabama,Birmingham,Portfolio Recovery Associates LLC,133,2021-07-20
3,Alabama,Gadsden,Crothall Healthcare Environmental Services,58,2021-07-07
4,Alabama,Decatur,National Packaging Co. Inc.,62,2021-06-30

In [26]:
layoffs_symbol_df = warn_layoffs_df.join(other=warn_nasdaq_cleaned_df, how="inner", on="Company")
layoffs_symbol_df = layoffs_symbol_df.reset_index(drop=True)
layoffs_symbol_df = layoffs_symbol_df.drop(["Company"], axis=1)
layoffs_symbol_df = layoffs_symbol_df.rename({"OG-Company-Nasdaq": "Company"}, axis=1)
layoffs_symbol_df = layoffs_symbol_df[~layoffs_symbol_df["Number of Workers"].isna()]
layoffs_symbol_df = layoffs_symbol_df[["Date", "Symbol", "Company", "Number of Workers"]]
layoffs_symbol_df = layoffs_symbol_df.groupby(by=["Date", "Symbol", "Company"], as_index=False).sum()
layoffs_symbol_df = layoffs_symbol_df.sort_values(by="Date", ascending=True).reset_index(drop=True)
print(f"Layoff events count = {layoffs_symbol_df.shape[0]}")
print(f"Unique layoff company count = {layoffs_symbol_df['Symbol'].unique().shape[0]}")
layoffs_symbol_df

Layoff events count = 1049
Unique layoff company count = 401

,Date,Symbol,Company,Number of Workers
0,2018-01-02,PFE,Pfizer Inc. Common Stock,13
1,2018-01-05,WMT,Walmart Inc. Common Stock,69
2,2018-01-08,BKD,Brookdale Senior Living Inc. Common Stock,110
3,2018-01-09,LMT,Lockheed Martin Corporation Common Stock,20
4,2018-01-12,PFE,Pfizer Inc. Common Stock,8
...,...,...,...,...
1044,2023-01-10,JBL,Jabil Inc. Common Stock,205
1045,2023-01-11,PSX,Phillips 66 Common Stock,45
1046,2023-01-12,ANF,Abercrombie & Fitch Company Common Stock,11
1047,2023-01-18,INTC,Intel Corporation Common Stock,544
1048,2023-01-18,MSFT,Microsoft Corporation Common Stock,878

In [27]:
# perform aggregating by quarter 

def determine_quarter(month):
    if month >= 1 and month <= 3:
        return 1
    elif month >= 4 and month <= 6:
        return 2
    elif month >= 7 and month <= 9:
        return 3
    else:
        return 4
    

layoffs_symbol_df['Year'] = layoffs_symbol_df['Date'].dt.year
layoffs_symbol_df['Month'] = layoffs_symbol_df['Date'].dt.month
layoffs_symbol_df["Quarter"] = layoffs_symbol_df.apply(lambda x: determine_quarter(x["Month"]), axis=1)
layoffs_symbol_df["Number of Layoffs"] = layoffs_symbol_df.apply(lambda x: 1, axis=1)
layoffs_symbol_df = layoffs_symbol_df[["Symbol", "Company", "Number of Workers", "Year", "Quarter", "Number of Layoffs"]]
layoffs_symbol_df = layoffs_symbol_df.groupby(by=["Symbol", "Company", "Year", "Quarter"], as_index=False).sum()
layoffs_symbol_df = layoffs_symbol_df.sort_values(by=["Year", "Quarter"], ascending=True).reset_index(drop=True)
layoffs_symbol_df = layoffs_symbol_df.drop_duplicates()

print(f"Unique number of layoffs count = {layoffs_symbol_df['Number of Layoffs'].unique().shape[0]}")
print(f"Unique symbol count = {layoffs_symbol_df['Symbol'].unique().shape[0]}")
layoffs_symbol_df

Unique number of layoffs count = 9
Unique symbol count = 401

,Symbol,Company,Year,Quarter,Number of Workers,Number of Layoffs
0,ACCO,Acco Brands Corporation Common Stock,2018,1,26,1
1,AES,The AES Corporation Common Stock,2018,1,70,1
2,ARW,Arrow Electronics Inc. Common Stock,2018,1,66,1
3,ASO,Academy Sports and Outdoors Inc. Common Stock,2018,1,57,1
4,AWI,Armstrong World Industries Inc Common Stock,2018,1,136,1
...,...,...,...,...,...,...
752,JBL,Jabil Inc. Common Stock,2023,1,205,1
753,M,Macy's Inc Common Stock,2023,1,111,1
754,MSFT,Microsoft Corporation Common Stock,2023,1,878,1
755,PSX,Phillips 66 Common Stock,2023,1,45,1
756,URI,United Rentals Inc. Common Stock,2023,1,119,1

In [28]:
financial_key = "combined_company_financials.csv"
company_size_key = "company_size_data.csv"
company_industry_key = "company_industry_data.csv"
covid_key = "quarterly_covid_data.csv"

def statement_date_to_quarter(month):
    if month >= 3 and month < 6:
        return 1
    elif month >= 6 and month < 9:
        return 2
    elif month >= 9 and month < 12:
        return 3
    else:
        return 4 


fmp_df  =  pd.read_csv("../data/combined_company_financials.csv")
fmp_df = fmp_df.rename({'date': 'statement_date', 'symbol': 'Symbol'}, axis=1).astype({'statement_date': 'datetime64[ns]'})
fmp_df = fmp_df[fmp_df['statement_date'] >= pd.to_datetime("2018-02-01")]
fmp_df['Year'] = fmp_df['statement_date'].dt.year
fmp_df['Month'] = fmp_df['statement_date'].dt.month
fmp_df["Quarter"] = fmp_df.apply(lambda x: statement_date_to_quarter(x["Month"]), axis=1)
fmp_df = fmp_df.drop(["Month"], axis=1)

fmp_df = fmp_df.drop_duplicates()
o_fmp_df = fmp_df.sort_values(['Symbol', 'statement_date'], ascending=True).reset_index(drop=True)
print(o_fmp_df.shape)
o_fmp_df.head()

(11247, 99)

,statement_date,revenue,costOfRevenue,grossProfit,grossProfitRatio,ResearchAndDevelopmentExpenses,GeneralAndAdministrativeExpenses,SellingAndMarketingExpenses,otherExpenses,operatingExpenses,...,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow,Symbol,Year,Quarter
0,2018-04-30,1.206000e+09,562000000.0,644000000.0,0.533997,91000000.0,338000000.0,0.0,0.0,429000000.0,...,-15000000.0,124000000.0,3.011000e+09,2.887000e+09,303000000.0,-48000000.0,255000000.0,A,2018,1
1,2018-07-31,1.203000e+09,542000000.0,661000000.0,0.549460,97000000.0,339000000.0,0.0,0.0,436000000.0,...,-15000000.0,-880000000.0,2.131000e+09,3.011000e+09,197000000.0,-33000000.0,164000000.0,A,2018,2
2,2018-10-31,1.294000e+09,585000000.0,709000000.0,0.547913,104000000.0,356000000.0,0.0,0.0,460000000.0,...,-11000000.0,116000000.0,2.247000e+09,2.131000e+09,372000000.0,-36000000.0,336000000.0,A,2018,3
3,2019-01-31,1.284000e+09,577000000.0,707000000.0,0.550623,102000000.0,355000000.0,0.0,0.0,457000000.0,...,9000000.0,-190000000.0,2.064000e+09,2.254000e+09,213000000.0,-39000000.0,174000000.0,A,2019,4
4,2019-04-30,1.238000e+09,569000000.0,669000000.0,0.540388,99000000.0,354000000.0,0.0,0.0,453000000.0,...,-7000000.0,97000000.0,2.161000e+09,2.064000e+09,252000000.0,-39000000.0,213000000.0,A,2019,1

In [29]:
financial_warn_df = layoffs_symbol_df.merge(o_fmp_df, on=["Symbol", "Year", "Quarter"]).reset_index(drop=True)
financial_warn_df = financial_warn_df.sort_values(by=["Symbol", "Year", "Quarter"], ascending=True).reset_index(drop=True)
financial_warn_df[fmp_df.columns] = financial_warn_df[fmp_df.columns].fillna(0)
print(f"Unique symbol count = {financial_warn_df['Symbol'].unique().shape[0]}")
financial_warn_df

Unique symbol count = 380

,Symbol,Company,Year,Quarter,Number of Workers,Number of Layoffs,statement_date,revenue,costOfRevenue,grossProfit,...,dividendsPaid,otherFinancingActivites,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow
0,AAL,American Airlines Group Inc. Common Stock,2019,2,70,1,2019-06-30,1.196000e+10,9.014000e+09,2.946000e+09,...,-4.400000e+07,2.172000e+09,1.179000e+09,0.0,-1.800000e+07,3.300000e+08,3.480000e+08,7.360000e+08,-1.018000e+09,-2.820000e+08
1,AAL,American Airlines Group Inc. Common Stock,2020,3,6775,2,2020-09-30,3.173000e+09,5.610000e+09,-2.437000e+09,...,0.000000e+00,2.052000e+09,1.511000e+09,0.0,-1.700000e+08,2.970000e+08,4.670000e+08,-2.604000e+09,-5.770000e+08,-3.181000e+09
2,AAL,American Airlines Group Inc. Common Stock,2021,1,3920,3,2021-03-31,4.008000e+09,6.164000e+09,-2.156000e+09,...,0.000000e+00,1.075100e+10,7.013000e+09,0.0,3.500000e+07,4.340000e+08,3.990000e+08,1.740000e+08,0.000000e+00,1.740000e+08
3,AAL,American Airlines Group Inc. Common Stock,2022,4,417,1,2022-12-03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,AAP,Advance Auto Parts Inc.,2020,2,94,1,2020-07-11,2.501380e+09,1.404666e+09,1.096714e+09,...,-1.742400e+07,-1.052000e+06,-5.191350e+08,395000.0,-1.383360e+08,1.141502e+09,1.279838e+09,4.373020e+08,-5.713200e+07,3.801700e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,X,United States Steel Corporation Common Stock,2020,2,737,1,2020-06-30,2.091000e+09,2.274000e+09,-1.830000e+08,...,-1.000000e+06,1.691000e+09,1.323000e+09,5000000.0,9.320000e+08,2.429000e+09,1.497000e+09,-2.200000e+08,-1.730000e+08,-3.930000e+08
712,XOM,Exxon Mobil Corporation Common Stock,2020,4,677,1,2020-12-31,4.573800e+10,6.233200e+10,-1.659400e+10,...,-3.715000e+09,-7.800000e+07,-5.283000e+09,112000000.0,-4.468000e+09,4.364000e+09,8.832000e+09,4.005000e+09,-3.629000e+09,3.760000e+08
713,XRAY,DENTSPLY SIRONA Inc. Common Stock,2019,1,49,1,2019-03-31,9.462000e+08,4.465000e+08,4.997000e+08,...,-1.950000e+07,-9.900000e+06,-9.920000e+07,-1600000.0,-8.420000e+07,2.254000e+08,3.096000e+08,2.930000e+07,-3.390000e+07,-4.600000e+06
714,XRAY,DENTSPLY SIRONA Inc. Common Stock,2020,2,461,1,2020-06-30,4.906000e+08,3.145000e+08,1.761000e+08,...,-2.190000e+07,1.381300e+09,6.581000e+08,5100000.0,8.732000e+08,1.109100e+09,2.359000e+08,1.751000e+08,-1.320000e+07,1.619000e+08
715,YELP,Yelp Inc. Common Stock,2020,2,375,1,2020-06-30,1.690300e+08,1.182500e+07,1.572050e+08,...,0.000000e+00,6.824000e+06,6.824000e+06,146000.0,1.396950e+08,5.266030e+08,3.869080e+08,1.646300e+07,-9.951000e+06,6.512000e+06

In [30]:
company_size_key = "company_size_data.csv"

company_size_df = pd.read_csv(
    f"s3://{AWS_S3_BUCKET}/{company_size_key}",
    storage_options={
        "key": AWS_ACCESS_KEY_ID,
        "secret": AWS_SECRET_ACCESS_KEY,
        "token": AWS_SESSION_TOKEN,
    },
)

company_size_df = company_size_df.rename({'stock_symbol': 'Symbol'}, axis=1).astype({'period_of_report': 'datetime64[ns]'})
company_size_df = company_size_df[company_size_df['period_of_report'] >= pd.to_datetime("2018-01-01")].reset_index(drop=True)
company_size_df['Year'] = company_size_df['period_of_report'].dt.year
company_size_df = company_size_df[["Symbol", "employee_count", "Year"]]
company_size_df = company_size_df.drop_duplicates()
company_size_df = company_size_df.sort_values(by=["Symbol", "Year"], ascending=True).reset_index(drop=True)
company_size_df

     Symbol  employee_count  Year
0         A           14800  2018
1         A           16300  2019
2         A           16400  2020
3        AA           14000  2018
4        AA           13800  2019
...     ...             ...   ...
1144   YELP            5950  2019
1145   YELP            3900  2020
1146   ZUMZ            2400  2018
1147   ZUMZ            2500  2019
1148   ZUMZ            2575  2020

[1149 rows x 3 columns]

In [31]:
company_size_warn_df = financial_warn_df.merge(company_size_df, how="left", on=["Symbol", "Year"]).reset_index(drop=True)
company_size_warn_df = company_size_warn_df.sort_values(by=["Symbol", "Year", "Quarter"], ascending=True).reset_index(drop=True)
company_size_warn_df["employee_count"] = company_size_warn_df["employee_count"].fillna(0)
print(f"employee_count exists count = ", company_size_warn_df[company_size_warn_df['employee_count'] != 0].shape[0])
company_size_warn_df

employee_count exists count =  324

,Symbol,Company,Year,Quarter,Number of Workers,Number of Layoffs,statement_date,revenue,costOfRevenue,grossProfit,...,otherFinancingActivites,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow,employee_count
0,AAL,American Airlines Group Inc. Common Stock,2019,2,70,1,2019-06-30,1.196000e+10,9.014000e+09,2.946000e+09,...,2.172000e+09,1.179000e+09,0.0,-1.800000e+07,3.300000e+08,3.480000e+08,7.360000e+08,-1.018000e+09,-2.820000e+08,0.0
1,AAL,American Airlines Group Inc. Common Stock,2020,3,6775,2,2020-09-30,3.173000e+09,5.610000e+09,-2.437000e+09,...,2.052000e+09,1.511000e+09,0.0,-1.700000e+08,2.970000e+08,4.670000e+08,-2.604000e+09,-5.770000e+08,-3.181000e+09,0.0
2,AAL,American Airlines Group Inc. Common Stock,2021,1,3920,3,2021-03-31,4.008000e+09,6.164000e+09,-2.156000e+09,...,1.075100e+10,7.013000e+09,0.0,3.500000e+07,4.340000e+08,3.990000e+08,1.740000e+08,0.000000e+00,1.740000e+08,0.0
3,AAL,American Airlines Group Inc. Common Stock,2022,4,417,1,2022-12-03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
4,AAP,Advance Auto Parts Inc.,2020,2,94,1,2020-07-11,2.501380e+09,1.404666e+09,1.096714e+09,...,-1.052000e+06,-5.191350e+08,395000.0,-1.383360e+08,1.141502e+09,1.279838e+09,4.373020e+08,-5.713200e+07,3.801700e+08,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,X,United States Steel Corporation Common Stock,2020,2,737,1,2020-06-30,2.091000e+09,2.274000e+09,-1.830000e+08,...,1.691000e+09,1.323000e+09,5000000.0,9.320000e+08,2.429000e+09,1.497000e+09,-2.200000e+08,-1.730000e+08,-3.930000e+08,0.0
712,XOM,Exxon Mobil Corporation Common Stock,2020,4,677,1,2020-12-31,4.573800e+10,6.233200e+10,-1.659400e+10,...,-7.800000e+07,-5.283000e+09,112000000.0,-4.468000e+09,4.364000e+09,8.832000e+09,4.005000e+09,-3.629000e+09,3.760000e+08,0.0
713,XRAY,DENTSPLY SIRONA Inc. Common Stock,2019,1,49,1,2019-03-31,9.462000e+08,4.465000e+08,4.997000e+08,...,-9.900000e+06,-9.920000e+07,-1600000.0,-8.420000e+07,2.254000e+08,3.096000e+08,2.930000e+07,-3.390000e+07,-4.600000e+06,4800.0
714,XRAY,DENTSPLY SIRONA Inc. Common Stock,2020,2,461,1,2020-06-30,4.906000e+08,3.145000e+08,1.761000e+08,...,1.381300e+09,6.581000e+08,5100000.0,8.732000e+08,1.109100e+09,2.359000e+08,1.751000e+08,-1.320000e+07,1.619000e+08,5100.0
715,YELP,Yelp Inc. Common Stock,2020,2,375,1,2020-06-30,1.690300e+08,1.182500e+07,1.572050e+08,...,6.824000e+06,6.824000e+06,146000.0,1.396950e+08,5.266030e+08,3.869080e+08,1.646300e+07,-9.951000e+06,6.512000e+06,3900.0

In [32]:
company_industry_key = "company_industry_data.csv"

company_industry_df = pd.read_csv(
    f"s3://{AWS_S3_BUCKET}/{company_industry_key}",
    storage_options={
        "key": AWS_ACCESS_KEY_ID,
        "secret": AWS_SECRET_ACCESS_KEY,
        "token": AWS_SESSION_TOKEN,
    },
)

company_industry_df = company_industry_df.rename({'stock_symbol': 'Symbol'}, axis=1)
company_industry_df = company_industry_df[["Symbol", "industry"]]
company_industry_df = company_industry_df.sort_values(by="Symbol", ascending=True).reset_index(drop=True)
company_industry_df

    Symbol                     industry
0     AAPL         Consumer Electronics
1      ABC         Medical Distribution
2      ABT              Medical Devices
3      ACM   Engineering & Construction
4      ADI               Semiconductors
..     ...                          ...
150    VVI  Specialty Business Services
151    WFC            Banks—Diversified
152    WWD          Aerospace & Defense
153      X                        Steel
154   XOMA                Biotechnology

[155 rows x 2 columns]

In [33]:
company_industry_warn_df = company_size_warn_df.merge(company_industry_df, how="left", on=["Symbol"]).reset_index(drop=True)
company_industry_warn_df = company_industry_warn_df.sort_values(by=["Symbol", "Year", "Quarter"], ascending=True).reset_index(drop=True)
company_industry_warn_df["industry"] = company_industry_warn_df["industry"].fillna("")
print(f"industry exists count = ", company_industry_warn_df[company_industry_warn_df['industry'] != ""].shape[0])
company_industry_warn_df

industry exists count =  282

,Symbol,Company,Year,Quarter,Number of Workers,Number of Layoffs,statement_date,revenue,costOfRevenue,grossProfit,...,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow,employee_count,industry
0,AAL,American Airlines Group Inc. Common Stock,2019,2,70,1,2019-06-30,1.196000e+10,9.014000e+09,2.946000e+09,...,1.179000e+09,0.0,-1.800000e+07,3.300000e+08,3.480000e+08,7.360000e+08,-1.018000e+09,-2.820000e+08,0.0,
1,AAL,American Airlines Group Inc. Common Stock,2020,3,6775,2,2020-09-30,3.173000e+09,5.610000e+09,-2.437000e+09,...,1.511000e+09,0.0,-1.700000e+08,2.970000e+08,4.670000e+08,-2.604000e+09,-5.770000e+08,-3.181000e+09,0.0,
2,AAL,American Airlines Group Inc. Common Stock,2021,1,3920,3,2021-03-31,4.008000e+09,6.164000e+09,-2.156000e+09,...,7.013000e+09,0.0,3.500000e+07,4.340000e+08,3.990000e+08,1.740000e+08,0.000000e+00,1.740000e+08,0.0,
3,AAL,American Airlines Group Inc. Common Stock,2022,4,417,1,2022-12-03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,
4,AAP,Advance Auto Parts Inc.,2020,2,94,1,2020-07-11,2.501380e+09,1.404666e+09,1.096714e+09,...,-5.191350e+08,395000.0,-1.383360e+08,1.141502e+09,1.279838e+09,4.373020e+08,-5.713200e+07,3.801700e+08,0.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,X,United States Steel Corporation Common Stock,2020,2,737,1,2020-06-30,2.091000e+09,2.274000e+09,-1.830000e+08,...,1.323000e+09,5000000.0,9.320000e+08,2.429000e+09,1.497000e+09,-2.200000e+08,-1.730000e+08,-3.930000e+08,0.0,Steel
712,XOM,Exxon Mobil Corporation Common Stock,2020,4,677,1,2020-12-31,4.573800e+10,6.233200e+10,-1.659400e+10,...,-5.283000e+09,112000000.0,-4.468000e+09,4.364000e+09,8.832000e+09,4.005000e+09,-3.629000e+09,3.760000e+08,0.0,
713,XRAY,DENTSPLY SIRONA Inc. Common Stock,2019,1,49,1,2019-03-31,9.462000e+08,4.465000e+08,4.997000e+08,...,-9.920000e+07,-1600000.0,-8.420000e+07,2.254000e+08,3.096000e+08,2.930000e+07,-3.390000e+07,-4.600000e+06,4800.0,
714,XRAY,DENTSPLY SIRONA Inc. Common Stock,2020,2,461,1,2020-06-30,4.906000e+08,3.145000e+08,1.761000e+08,...,6.581000e+08,5100000.0,8.732000e+08,1.109100e+09,2.359000e+08,1.751000e+08,-1.320000e+07,1.619000e+08,5100.0,
715,YELP,Yelp Inc. Common Stock,2020,2,375,1,2020-06-30,1.690300e+08,1.182500e+07,1.572050e+08,...,6.824000e+06,146000.0,1.396950e+08,5.266030e+08,3.869080e+08,1.646300e+07,-9.951000e+06,6.512000e+06,3900.0,

In [34]:
covid_key = "quarterly_covid_data.csv"

covid_data_df = pd.read_csv(
    f"s3://{AWS_S3_BUCKET}/{covid_key}",
    storage_options={
        "key": AWS_ACCESS_KEY_ID,
        "secret": AWS_SECRET_ACCESS_KEY,
        "token": AWS_SESSION_TOKEN,
    },
)

covid_data_df = covid_data_df.drop(["Unnamed: 0"], axis=1)
covid_data_df = covid_data_df.astype({'date': 'datetime64[ns]'})
covid_data_df['Year'] = covid_data_df['date'].dt.year
covid_data_df['Month'] = covid_data_df['date'].dt.month
covid_data_df["Quarter"] = covid_data_df.apply(lambda x: statement_date_to_quarter(x["Month"]), axis=1)
covid_data_df = covid_data_df.drop(["Month", "date"], axis=1)
covid_data_df = covid_data_df.sort_values(by=["Year", "Quarter"], ascending=True).reset_index(drop=True)

min_covid_year = covid_data_df["Year"].min()
min_coivd_year_q = covid_data_df[covid_data_df["Year"] == min_covid_year]["Quarter"].min()
print("Min Year for Covid", min_covid_year)
print("Min Quarter in that year", min_coivd_year_q)

covid_data_df

Min Year for Covid 2020
Min Quarter in that year 1

,new_cases,new_cases_smoothed,new_cases_per_million,new_deaths,new_deaths_smoothed,new_deaths_per_million,Year,Quarter
0,2404.763889,1538.313444,7.108639,46.208333,25.271847,0.136639,2020,1
1,26741.428571,26039.981154,79.048879,1372.780220,1360.849286,4.058055,2020,2
2,50113.815217,50152.321380,148.138696,890.315217,899.428554,2.631826,2020,3
3,134353.271739,129908.336978,397.154261,1541.793478,1481.576043,4.557598,2020,4
4,116989.855556,120848.299989,345.827267,2236.066667,2291.728556,6.609944,2021,1
5,35160.428571,36779.503890,103.935802,523.835165,540.904231,1.548429,2021,2
6,105140.771739,102092.024870,310.800826,1035.130435,983.925446,3.059891,2021,3
7,114728.956522,106132.871109,339.143957,1335.913043,1344.720522,3.949033,2021,4
8,287196.233333,298754.488933,848.964922,1783.786517,1806.499213,5.272989,2022,1
9,76131.879121,73506.604352,225.049198,363.747253,370.029835,1.075264,2022,2
10,94138.326087,95996.048098,278.277120,430.739130,424.852424,1.273250,2022,3
11,48271.978261,46706.085435,142.694152,373.391304,371.183228,1.103793,2022,4
12,40687.038961,42915.864455,120.272727,422.259740,425.885000,1.248195,2023,1

In [35]:
final_combined_df = company_industry_warn_df.merge(covid_data_df, how="left", on=["Year", "Quarter"]).reset_index(drop=True)
final_combined_df = final_combined_df.sort_values(by=["Symbol", "Year", "Quarter"], ascending=True).reset_index(drop=True)
final_combined_df[covid_data_df.columns] = final_combined_df[covid_data_df.columns].fillna(0)
final_combined_df

,Symbol,Company,Year,Quarter,Number of Workers,Number of Layoffs,statement_date,revenue,costOfRevenue,grossProfit,...,capitalExpenditure,freeCashFlow,employee_count,industry,new_cases,new_cases_smoothed,new_cases_per_million,new_deaths,new_deaths_smoothed,new_deaths_per_million
0,AAL,American Airlines Group Inc. Common Stock,2019,2,70,1,2019-06-30,1.196000e+10,9.014000e+09,2.946000e+09,...,-1.018000e+09,-2.820000e+08,0.0,,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,AAL,American Airlines Group Inc. Common Stock,2020,3,6775,2,2020-09-30,3.173000e+09,5.610000e+09,-2.437000e+09,...,-5.770000e+08,-3.181000e+09,0.0,,50113.815217,50152.321380,148.138696,890.315217,899.428554,2.631826
2,AAL,American Airlines Group Inc. Common Stock,2021,1,3920,3,2021-03-31,4.008000e+09,6.164000e+09,-2.156000e+09,...,0.000000e+00,1.740000e+08,0.0,,116989.855556,120848.299989,345.827267,2236.066667,2291.728556,6.609944
3,AAL,American Airlines Group Inc. Common Stock,2022,4,417,1,2022-12-03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,,48271.978261,46706.085435,142.694152,373.391304,371.183228,1.103793
4,AAP,Advance Auto Parts Inc.,2020,2,94,1,2020-07-11,2.501380e+09,1.404666e+09,1.096714e+09,...,-5.713200e+07,3.801700e+08,0.0,,26741.428571,26039.981154,79.048879,1372.780220,1360.849286,4.058055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,X,United States Steel Corporation Common Stock,2020,2,737,1,2020-06-30,2.091000e+09,2.274000e+09,-1.830000e+08,...,-1.730000e+08,-3.930000e+08,0.0,Steel,26741.428571,26039.981154,79.048879,1372.780220,1360.849286,4.058055
712,XOM,Exxon Mobil Corporation Common Stock,2020,4,677,1,2020-12-31,4.573800e+10,6.233200e+10,-1.659400e+10,...,-3.629000e+09,3.760000e+08,0.0,,134353.271739,129908.336978,397.154261,1541.793478,1481.576043,4.557598
713,XRAY,DENTSPLY SIRONA Inc. Common Stock,2019,1,49,1,2019-03-31,9.462000e+08,4.465000e+08,4.997000e+08,...,-3.390000e+07,-4.600000e+06,4800.0,,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
714,XRAY,DENTSPLY SIRONA Inc. Common Stock,2020,2,461,1,2020-06-30,4.906000e+08,3.145000e+08,1.761000e+08,...,-1.320000e+07,1.619000e+08,5100.0,,26741.428571,26039.981154,79.048879,1372.780220,1360.849286,4.058055
715,YELP,Yelp Inc. Common Stock,2020,2,375,1,2020-06-30,1.690300e+08,1.182500e+07,1.572050e+08,...,-9.951000e+06,6.512000e+06,3900.0,,26741.428571,26039.981154,79.048879,1372.780220,1360.849286,4.058055

In [36]:
# create separate covid bins (pre, during, post)
# covid declared national emergency on March 13, 2020
# covid restrictions lifted on July 1, 2021
# https://www.nytimes.com/interactive/2020/us/states-reopen-map-coronavirus.html


covid_data_df = covid_data_df.drop(["Year", "Quarter"], axis =1)
precovid_df = final_combined_df[((final_combined_df["Year"] == 2020) & (final_combined_df["Quarter"] == 1)) | (final_combined_df["Year"] < 2020)].reset_index(drop=True)
precovid_df = precovid_df.drop(covid_data_df.columns, axis =1)
covid_df = final_combined_df[((final_combined_df["Year"] == 2020) & (final_combined_df["Quarter"] > 1)) | ((final_combined_df["Year"] == 2021) & (final_combined_df["Quarter"] <= 3))].reset_index(drop=True)
postcovid_df = final_combined_df[((final_combined_df["Year"] == 2021) & (final_combined_df["Quarter"] == 4)) | (final_combined_df["Year"] > 2021)].reset_index(drop=True)
postcovid_df = postcovid_df.drop(covid_data_df.columns, axis =1)

print(precovid_df.shape[0] + covid_df.shape[0] + postcovid_df.shape[0])
precovid_df.to_csv("precovid.csv")
covid_df.to_csv("covid.csv")
postcovid_df.to_csv("postcovid.csv")

716

In [37]:
precovid_df.head()

,Symbol,Company,Year,Quarter,Number of Workers,Number of Layoffs,statement_date,revenue,costOfRevenue,grossProfit,...,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow,employee_count,industry
0,AAL,American Airlines Group Inc. Common Stock,2019,2,70,1,2019-06-30,1.196000e+10,9.014000e+09,2.946000e+09,...,1.179000e+09,0.0,-1.800000e+07,3.300000e+08,3.480000e+08,7.360000e+08,-1.018000e+09,-2.820000e+08,0.0,
1,AAPL,Apple Inc. Common Stock,2018,2,52,1,2018-06-30,5.326500e+10,3.284400e+10,2.042100e+10,...,-3.152300e+10,0.0,-1.308800e+10,3.197100e+10,4.505900e+10,1.448800e+10,-3.267000e+09,1.122100e+10,132000.0,Consumer Electronics
2,AAPL,Apple Inc. Common Stock,2019,1,190,1,2019-03-30,5.801500e+10,3.619400e+10,2.182100e+10,...,-2.945700e+10,0.0,-4.954000e+09,3.981700e+10,4.477100e+10,1.115500e+10,-2.363000e+09,8.792000e+09,137000.0,Consumer Electronics
3,AB,AllianceBernstein Holding L.P. Units,2018,4,35,1,2018-12-31,6.675900e+07,0.000000e+00,0.000000e+00,...,-6.018800e+07,0.0,0.000000e+00,0.000000e+00,0.000000e+00,6.597500e+07,0.000000e+00,6.597500e+07,3641.0,
4,ACCO,Acco Brands Corporation Common Stock,2018,1,26,1,2018-03-31,4.058000e+08,2.783000e+08,1.275000e+08,...,-7.000000e+06,400000.0,4.580000e+07,1.227000e+08,7.690000e+07,6.040000e+07,-8.000000e+06,5.240000e+07,6700.0,

In [38]:
covid_df.head()

,Symbol,Company,Year,Quarter,Number of Workers,Number of Layoffs,statement_date,revenue,costOfRevenue,grossProfit,...,capitalExpenditure,freeCashFlow,employee_count,industry,new_cases,new_cases_smoothed,new_cases_per_million,new_deaths,new_deaths_smoothed,new_deaths_per_million
0,AAL,American Airlines Group Inc. Common Stock,2020,3,6775,2,2020-09-30,3.173000e+09,5.610000e+09,-2.437000e+09,...,-577000000.0,-3.181000e+09,0.0,,50113.815217,50152.321380,148.138696,890.315217,899.428554,2.631826
1,AAL,American Airlines Group Inc. Common Stock,2021,1,3920,3,2021-03-31,4.008000e+09,6.164000e+09,-2.156000e+09,...,0.0,1.740000e+08,0.0,,116989.855556,120848.299989,345.827267,2236.066667,2291.728556,6.609944
2,AAP,Advance Auto Parts Inc.,2020,2,94,1,2020-07-11,2.501380e+09,1.404666e+09,1.096714e+09,...,-57132000.0,3.801700e+08,0.0,,26741.428571,26039.981154,79.048879,1372.780220,1360.849286,4.058055
3,ABBV,AbbVie Inc. Common Stock,2021,3,26,1,2021-09-30,1.434200e+10,4.390000e+09,9.952000e+09,...,-217000000.0,7.718000e+09,0.0,,105140.771739,102092.024870,310.800826,1035.130435,983.925446,3.059891
4,ABG,Asbury Automotive Group Inc Common Stock,2020,2,844,2,2020-06-30,1.445100e+09,1.202300e+09,2.428000e+08,...,-9100000.0,4.178000e+08,7600.0,,26741.428571,26039.981154,79.048879,1372.780220,1360.849286,4.058055

In [39]:
postcovid_df.head()

,Symbol,Company,Year,Quarter,Number of Workers,Number of Layoffs,statement_date,revenue,costOfRevenue,grossProfit,...,netCashUsedProvidedByFinancingActivities,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow,employee_count,industry
0,AAL,American Airlines Group Inc. Common Stock,2022,4,417,1,2022-12-03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,
1,ABBV,AbbVie Inc. Common Stock,2022,1,70,1,2022-03-31,1.353800e+10,4.052000e+09,9.486000e+09,...,-6.972000e+09,7000000.0,-3.648000e+09,6.098000e+09,9.746000e+09,4.908000e+09,-162000000.0,4.746000e+09,0.0,
2,ABBV,AbbVie Inc. Common Stock,2022,3,99,1,2022-09-30,1.481200e+10,5.022000e+09,9.790000e+09,...,-5.518000e+09,-59000000.0,3.311000e+09,1.183200e+10,8.521000e+09,7.602000e+09,-177000000.0,7.425000e+09,0.0,
3,ABM,ABM Industries Incorporated Common Stock,2021,4,82,1,2021-01-31,1.492400e+09,0.000000e+00,0.000000e+00,...,-5.780000e+07,1900000.0,-1.590000e+07,3.783000e+08,3.942000e+08,4.530000e+07,-6600000.0,3.870000e+07,0.0,
4,ABM,ABM Industries Incorporated Common Stock,2022,3,92,1,2022-10-31,2.011100e+09,0.000000e+00,2.011100e+09,...,4.130000e+07,-1000000.0,9.100000e+06,7.300000e+07,6.390000e+07,1.171000e+08,-13000000.0,1.041000e+08,0.0,